.box{

    height: 100vh;
    /* background-repeat: ; */
    background-size: cover;
    /* background-image:url("//img.freepik.com/free-vector/retro-bokeh-lights-background_1048-7856.jpg?size=626&ext=jpg&uid=R78773051&ga=GA1.1.655886246.1662755536&semt=ais")  */
     background-color: black; 

}

.text-center
{
    color: rgb(140, 75, 29);
    font-size:100px;
    font-weight: 200;
    font-family: 'Nabla', system-ui;
    font-family: 'Protest Guerrilla', sans-serif;
}